# Development dependencies in one place

flake8
pytest
pytest-cov
# pytest-capturelog
configparser
mock          ; python_version<='3.2'


# 'blinker',
# 'python-dotenv',
# 'greenlet',
# 'pytest>=3',
# 'coverage',
# 'sphinx',
# 'sphinxcontrib-log-cabinet'
